:root {
  --sky-blue: #11c9ea;
  --blue: #067fa5;
  --green: #49ea11;
  --white: #fff;
  --light-gary: #6e6e6e;
  --black: #000;
  --light-black: #070707;
  --border-gray: #424750;
  --border-blue: #058dd9;
}
